{% extends 'school/app.html' %}

{% block content %}
    {% if form.non_field_errors %}
    <ul>
        {% for non_field_error in form.non_field_errors %}
            <li>{{non_field_error}}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form method="POST" novalidate>
    {% csrf_token %}
    {% for form_field in form %}
        {{form_field.label_tag}}
        {{form_field}}
        {{form_field.errors |striptags}}
        <br><br>
    {% endfor %}
    <input type="submit" value="Submit">
    </form>
{% endblock content %}