<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Student Registration</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <style>
            .debug{
                color: gray;
            }
            .info{
                color: blue;
            }
            .success{
                color: green;
            }
            .warning{
                color: yellow;
            }
            .danger{
                color: red;
            }
        </style>
    </head>
    <body>
        <form method="POST" novalidate>
            {% csrf_token %}
            {{student_registration_form.as_p}}
            <input type="submit" value"Register">
        </form>
        {% if messages %}
            {% for message in messages %}
                <span
                    {% if message.tags %}
                        class="{{message.tags}}"
                    {% endif %}
                >
                {% comment %} we have bootstrap class like class="alert-{{message.tags}}" {% endcomment %}
                {% comment %} 
                    we can change our tag name like we have error tag and its name also error 
                    we have to change its name we have to make error tag name as danger
                    we can do it from settings.py file by adding one dictionary 
                    MESSAGE_TAGS = {
                        messages.ERROR: 'danger'
                    }
                    like that way we can change any of tag name 
                {% endcomment %}
                    {{message}}
                </span>            
            {% endfor %}
        {% endif %}
    </body>
</html>